@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section ScriptContent
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/moment.js")"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/css/custom.css")" rel='stylesheet' type='text/css' />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar();

            $("#btnAgregarFigura").bind("click", function (evt) {
                evt.preventDefault();
                $("#divAgregarPedido").modal('show');
            });

            $("#btnGrabar").bind("click", function(evt) {
                var figuraDto = {
                    Nombre: $("#txtNombre").val(),
                    Tienda: $("#txtTienda").val(),
                    Escultor: $("#txtEscultor").val(),
                    FechaPedido: $("#txtFechaPedido").val(),
                    FechaRelease: $("#txtFechaRelease").val(),
                    Precio: $("#txtPrecio").val()
                };

                $.ajax({
                    method: "POST",
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: "@Url.Action("Crear", "Home")",
                    data: JSON.stringify(figuraDto)
                }).done(function(response) {
                    if (response.Success) {
                        LimpiarFormulario();
                        $("#divAgregarPedido").modal('close');
                    }
                });
            });
        });

        function LimpiarFormulario() {
            $("#txtNombre").val("");
            $("#txtTienda").val("");
            $("#txtEscultor").val("");
            $("#txtFechaPedido").val("");
            $("#txtFechaRelease").val("");
            $("#txtPrecio").val("");
        }
    </script>
}

<div id="divAgregarPedido" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Pedido</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="txtNombre" name="nombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tienda</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="tienda" id="txtTienda" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Escultor</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="escultor" id="txtEscultor" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Fecha del Pedido</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" name="fechaPedido" id="txtFechaPedido" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Fecha de Release</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" name="fechaRelease" id="txtFechaRelease" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Precio</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="precio" id="txtPrecio" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGrabar">Grabar</button>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services">
    <div class="container">
        <div class="service-head text-center">
            <h2>Mes actual <a href="#" id="btnAgregarFigura">+</a></h2>
            <span></span>
        </div>

        <!--- services-grids --->
        <div class="services-grids text-center">
            <div id='calendar' class="calendar"></div>
            <div class="clearfix"> </div>
        </div>
        <!--- services-grids --->
    </div>
</div>
<div class="clearfix"> </div>